* {
    border: 0px solid black;
    box-sizing: border-box;
}

body {
    width: 60vh;
    height: 90vh;

    max-width: 90%;
    max-height: 100%;

    position: relative;

    margin: auto;
    margin-top: 4vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    z-index: 2;
    width: 100%;
    height: 15%;

    border-radius: 5px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    border-left: 2.2vh solid rgb(90, 112, 141);
    border-right: 2.2vh solid rgb(103, 154, 202);

    position: relative;
    top: 0.1vh;

    background-color: rgb(95, 139, 196);

    display: flex;
    justify-content: center;}
    h1 {
        width: 70%;
        height: 70%;

        margin-top: 15px;
        border-radius: 50%;
        border-bottom: 8px solid rgb(102, 107, 112);
        border-left: 4px solid rgb(119, 164, 201);
        border-right: 4px solid rgb(190, 161, 122);

        text-align: center;
        font-size: 5vh;
        font-family:Impact, 'Arial Narrow Bold', sans-serif;
        color: rgb(41, 59, 83);
        background-color: rgb(158, 138, 124);}

main{
    z-index: 1;
    width: 98%;
    height: 60%;

    border-radius: 10px;

    border-top: 0.4vh solid rgb(50, 63, 107);
    border-bottom: 0.4vh solid rgba(150, 150, 150, 0.459);
    border-left: 0.4vh solid rgba(50, 63, 107, 0.603);
    border-right: 0.4vh solid rgba(150, 150, 150, 0.459);

    background-color: rgba(139, 139, 139, 0.699);
}
    h2 {
        margin: 0;
        padding: 0px;

        background-color: rgb(163, 163, 163);
        color: rgb(2, 2, 2);

        font-size: 2.5vh;
        text-align: center;
        text-shadow: none;
    }
    p{
        margin: 0;
        padding: 0px;

        background-color: rgb(163, 163, 163);

        text-align: center;
        font-size: 2vh;
    }
    p#msg {
        font-size: 3vh;
    }
    section {
        width: 100%;
        height: 100%;

        margin:auto;

        position: relative;

        border-radius: 8px;
       
    }
        #front {
            z-index: 2;
            width: 100%;
            height: 100%;

            position:relative;
            
            background-image: linear-gradient(to right,rgba(124, 130, 180, 0.6), rgba(0, 17, 255, 0.103), rgba(0, 47, 255, 0.212),rgba(0, 26, 255, 0.247),rgba(0, 17, 255, 0.185),rgba(124, 130, 180, 0.6));
            backdrop-filter: blur(0.7px);
        
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;}
            p#msg {
                z-index: -10;
                width: 100%;
                height: 70%;

                position: relative;

                padding: 5%;

                text-align: center;
                font-size: 4vh;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                
                color:rgba(72, 123, 189, 0.938);
                background-color: rgba(151, 104, 33, 0);}
            
        #back {
            z-index: 1;
            width: 100%;
            height:100%;

            position:relative;
            bottom: 100%;
            /* bottom: 1%; */

            font-size: 35px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            background-color: rgb(255, 255, 255);
            
            display:flex;
            flex-direction: column;
            align-items: center;}
            #score {
                width: 95%;
                height:5%;

                border: 2px solid rgb(99, 104, 131);

                font-size: 2.5vh;

                background-color: rgb(163, 163, 163);
            
                flex-grow: 1;
                display: flex;
                justify-content: space-evenly;}
                p#pointP, p#pointC{
                    font-size: 2.5vh;}

            #screen {
                width: 100%;

                margin-bottom: 15px;
                padding-top: 10px;

                color:rgba(62, 109, 170, 0.836);

                text-align: center;
            
                flex-grow: 10;
                display:flex;}
                p#left, p#right {
                    width: 50%;
                    height: 100%;

                    /* border: 2px solid black; */

                    font-size: 5vh;
                    /* text-align: center; */
                    background-color: aliceblue;
                    background-position:center;
                    background-repeat: no-repeat;
                    background-size: 20vh;
                }
                p#left{
                    background-position:center;
                    position: relative;

                    flex-grow: 1;
                }
                p#right{

                    /* text-shadow: -5px 2px 6px black; */
                    text-align: center;
                    background-position:center;

                    flex-grow: 1;
                }
                

nav#hands{
    z-index: 2;
    width: 100%;
    height: 15%;
    bottom: 0.2vh;

    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-bottom: 0.1vh solid rgb(212, 196, 174);
    border-left: 2vh solid rgb(90, 112, 141);
    border-right: 2vh solid rgb(103, 154, 202);

    position: relative;

    background-color: rgb(95, 139, 196);

    display: flex;
    justify-content: space-evenly;
    align-items: center;}
    
    button {
        width: 20%;
        height: 80%;

        border-radius: 10px;
        border-left: 3px solid rgba(180, 186, 199, 0.671);
        border-right: 3px solid rgba(137, 157, 201, 0.692);


        background-color: rgb(158, 138, 124);
        background-position:center;
        background-repeat: no-repeat;
        background-size: 60%;}

        button:hover {
            background-color: rgba(158, 138, 124, 0.5);
        }
        
        #rock { background-image: url(rock.png); }
        #paper { background-image: url(paper.png);}
        #scissor { background-image: url(scissor.png);}
        #start, #res {
            position: absolute;

            right: 10%;
            visibility: hidden;

            font-size: 2vh;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
            
            #res {
                left: 10%}

footer {
    width: 100%;
    height: 10%;
}



@media only screen and (max-width:450px){
    h1 {
        font-size: 3vh;;}
    h2 {
        font-size: 2vh;}
    #score {
        height: 2vh;}
    p#left, p#right{
        font-size: 3.5vh;
        background-size: 25vw;}
    p#msg {
        font-size: 3vh;
        background-size: 2vh;}
    button{
        width: 20vw;}}
@media only screen and (max-height:769px) and (orientation: landscape) {
    body{
        width: 70vw;
        height: 100vh;

        
        margin-top: 5vh;}
        header{
            height: 15%;}
            h1{
                width: 40%;
                margin-top:0%;
                font-size: 2.5vw;}
        main{
            width: 90%;
            height: 65%;}
            #score {
                height: 5%;}
                #player, #round, #comp{
                    width: 10%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;}
            h2 {
                font-size: 3vh;}
                p#pointP, p#pointC, p#pointR{
                    font-size: 3.5vh;
                }
            p#left, p#right{
                font-size: 8vh;
                background-size: 40%;}
                p#left{
                    padding-left: 4%;
                    text-align: left;}
                p#right{
                    padding-right: 4%;
                    text-align: right;}
            p#msg {
                font-size: 4vh;}

        nav#hands{
            height: 20%}
            button{
                width: 10vw;
                font-size: 5vw;}
            #start, #res{
                font-size: 2vw;}}
